Repository natelandau/jdfile: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

pyupgrade:
  name: pyupgrade
  entry: pyupgrade --py310-plus
  require_serial: true
  language: system

absolufy-imports:
  name: absolufy-imports
  entry: absolufy-imports
  require_serial: true
  language: system

yesqa:
  name: yesqa
  entry: yesqa
  require_serial: true
  language: system

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

black:
  name: black
  entry: black
  require_serial: true
  language: system

bandit:
  name: bandit
  entry: bandit --configfile pyproject.toml
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system

pytest:
  name: pytest
  entry: poe test
  language: system
  pass_filenames: false

refactor(logging): date matching to TRACE
  src/filemanager/_utils/dates.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

feat(cli): add --filter-correct option
  src/filemanager/_utils/organize.py
  src/filemanager/cli.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

feat(cli): add -split-words to split camelCase into separate words
  src/filemanager/_utils/__init__.py
  src/filemanager/_utils/files.py
  src/filemanager/_utils/utilities.py
  src/filemanager/cli.py
  tests/test_files.py
  tests/test_utilities.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix: break folder names into individual words
  src/filemanager/_utils/johnnyDecimal.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix(logging): add trace level logs
  src/filemanager/_utils/files.py
  src/filemanager/_utils/organize.py
  src/filemanager/_utils/synonyms.py
  src/filemanager/cli.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

build(deps): update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

ci: docker image uses poetry 1.2.1
  Dockerfile
Due: none

ci(github): update actions
  .github/workflows/test.yml
Due: none

ci: remove clear before poe test
  pyproject.toml
Due: poetry-check

docs(README): show code coverage badge
  .github/workflows/test.yml
  README.md
Due: none

bump(release): v0.3.0 → v0.4.0
  CHANGELOG.md
  pyproject.toml
  src/filemanager/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

fix(clean): retain camelcase words specified in config file 'match_case'
  src/filemanager/_utils/files.py
  src/filemanager/cli.py
  tests/test_files.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix(clean): add progress bar
  src/filemanager/cli.py
  tests/test_cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

bump(release): v0.4.0 → v0.4.1
  CHANGELOG.md
  pyproject.toml
  src/filemanager/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

build(deps): bump dependencies
  poetry.lock
Due: none

ci(github): attempt to fix github actions python cache
  .github/workflows/test.yml
Due: none

fix(organize): don't clean files without a matching folder
  src/filemanager/_utils/files.py
  src/filemanager/cli.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

test: add missing tests
  pyproject.toml
  src/filemanager/_utils/files.py
  src/filemanager/_utils/johnnyDecimal.py
  src/filemanager/cli.py
  tests/conftest.py
  tests/test_clean.py
  tests/test_cli.py
  tests/test_organize.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

fix(stopwords): make less restrictive
  src/filemanager/_utils/organize.py
  tests/test_clean.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

test: fix broken test
  tests/test_cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, pytest

test: fix tests
  tests/test_organize.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, pytest

docs(README): JohnnyDecimal usage more prominent
  README.md
Due: none

refactor: refactor filenames and function locations
  src/filemanager/_utils/__init__.py
  src/filemanager/_utils/johnnyDecimal.py
  src/filemanager/_utils/projectFolders.py
  src/filemanager/_utils/synonyms.py
  src/filemanager/_utils/tables.py
  src/filemanager/_utils/words.py
  tests/test_files.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix(organize): fix display of progress bar when selecting multiple folders
  src/filemanager/_utils/files.py
  src/filemanager/cli.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

refactor: simplify coutning files with changes
  src/filemanager/cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix(clean): specify a date for a file with --date
  src/filemanager/_utils/dates.py
  src/filemanager/_utils/files.py
  src/filemanager/cli.py
  tests/test_dates.py
  tests/test_files.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix(stopwords): remove numbers from stopwords list
  src/filemanager/_utils/words.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

docs: improve help text and README
  README.md
  src/filemanager/cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

build(deps): update dependencies
  poetry.lock
Due: none

bump(release): v0.4.1 → v0.4.2
  CHANGELOG.md
  pyproject.toml
  src/filemanager/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

fix(organize): show paths relative to project root
  src/filemanager/_utils/files.py
  src/filemanager/_utils/projectFolders.py
  src/filemanager/_utils/tables.py
  tests/test_organize.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

bump(release): v0.4.2 → v0.4.3
  CHANGELOG.md
  pyproject.toml
  src/filemanager/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

docs(README): update readme
  README.md
Due: none

fix(organize): fix for not showing relative path to target folder
  src/filemanager/_utils/files.py
  src/filemanager/_utils/tables.py
  src/filemanager/cli.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

build(deps): remove pysnooper
  poetry.lock
  pyproject.toml
Due: poetry-check

docs(README): improve clarity
  README.md
Due: none

bump(release): v0.4.3 → v0.4.4
  CHANGELOG.md
  pyproject.toml
  src/filemanager/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

fix(clean): do not strip separators from dates in YYYY-MM-DD at beginning of filename
  src/filemanager/_utils/files.py
  tests/test_files.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

Path conditions:
  pyupgrade: any of: \.py$, but not: cli\.py
  absolufy-imports: any of: \.py$
  yesqa: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  bandit: any of: \.py$
  pydocstyle: any of: \.py$
  flake8: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: \.py$, but not: tests/
  pytest: any of: \.py$
