Repository natelandau/jdfile: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, poetry-check, mypy, pytest

.pre-commit-config.yaml:

---
# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
    - repo: "https://github.com/commitizen-tools/commitizen"
      rev: v2.40.0
      hooks:
          - id: commitizen
          - id: commitizen-branch
            stages:
                - post-commit
                - push

    - repo: "https://github.com/pre-commit/pygrep-hooks"
      rev: v1.10.0
      hooks:
          - id: python-check-mock-methods
          - id: python-no-eval
          - id: python-no-log-warn
          - id: python-use-type-annotations
          - id: rst-backticks
          - id: rst-directive-colons
          - id: rst-inline-touching-normal
          - id: text-unicode-replacement-char

    - repo: "https://github.com/pre-commit/pre-commit-hooks"
      rev: v4.4.0
      hooks:
          - id: check-added-large-files
          - id: check-ast
          - id: check-builtin-literals
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-json
            exclude: .devcontainer/|.vscode/
          - id: check-merge-conflict
          - id: check-shebang-scripts-are-executable
          - id: check-symlinks
          - id: check-toml
            exclude: broken_config_file\.toml
          - id: check-vcs-permalinks
          - id: check-xml
          - id: check-yaml
          - id: debug-statements
          - id: detect-private-key
          - id: fix-byte-order-marker
          - id: mixed-line-ending
          - id: trailing-whitespace
            types: [python]
            args: [--markdown-linebreak-ext=md]
          - id: end-of-file-fixer
            types: [python]

    - repo: "https://github.com/adrienverge/yamllint.git"
      rev: v1.29.0
      hooks:
          - id: yamllint
            files: ^.*\.(yaml|yml)$
            entry: yamllint --strict --config-file .yamllint.yml

    - repo: "https://github.com/charliermarsh/ruff-pre-commit"
      rev: "v0.0.242"
      hooks:
          - id: ruff
            args: ["--extend-ignore", "I001,D301,D401,PLR2004,PLR0913,PLR0911,PLR0912,PLR0915"]
            exclude: tests/

    - repo: "https://github.com/jendrikseipp/vulture"
      rev: "v2.7"
      hooks:
          - id: vulture

    - repo: "https://github.com/econchick/interrogate"
      rev: 1.5.0
      hooks:
          - id: interrogate
            args: [-c, pyproject.toml]

    - repo: local
      hooks:
          - id: custom
            name: custom pre-commit script
            entry: scripts/pre-commit-hook.sh
            language: system

          - id: black
            name: black
            entry: black
            require_serial: true
            language: system
            types: [python]

          - id: shellcheck
            name: shellcheck
            entry: shellcheck --check-sourced --severity=warning
            language: system
            types: [shell]

          - id: poetry-check
            name: poetry check
            entry: poetry check
            language: system
            files: pyproject.toml
            pass_filenames: false

          - id: mypy
            name: mypy
            entry: mypy --config-file pyproject.toml
            exclude: tests/
            language: system
            types: [python]

          - id: pytest
            name: pytest
            entry: poe test
            language: system
            pass_filenames: false
            files: |
                (?x)^(
                src/|
                tests/|
                poetry\.lock|
                pyproject\.toml
                )

test: cleanup tests
  poetry.lock
  src/jdfile/models/file.py
  src/jdfile/utils/utilities.py
  tests/alerts_test.py
  tests/conftest.py
  tests/dates_test.py
  tests/file_test.py
  tests/utilities_test.py
Due: black, mypy, pytest

bump(release): v1.1.2 → v1.1.3
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Due: black, poetry-check, mypy, pytest

fix: `last month` defaults to day 1
  .pre-commit-config.yaml
  src/jdfile/models/dates.py
  tests/dates_test.py
Due: black, mypy, pytest

build(deps): bump dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

bump(release): v1.1.3 → v1.1.4
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Due: black, poetry-check, mypy, pytest

build(deps): build dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

build(deps): update dependencies
  .github/workflows/automated-tests.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/devcontainer-checker.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/pypi-release.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

build(deps): update dependencies (#45)
  .github/workflows/automated-tests.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/devcontainer-checker.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/pypi-release.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

build(deps): update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

fix: `--separator` no longer contains NoneType to avoid error printing help
  src/jdfile/cli.py
  src/jdfile/utils/enums.py
Due: black, mypy, pytest

bump(release): v1.1.4 → v1.1.5
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Due: black, poetry-check, mypy, pytest

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/jdfile/_config/config.py
  src/jdfile/models/dates.py
  src/jdfile/models/file.py
  src/jdfile/models/project.py
  src/jdfile/utils/alerts.py
Due: black, poetry-check, mypy, pytest

build(deps): update dependencies
  poetry.lock
  pyproject.toml
  src/jdfile/models/file.py
  src/jdfile/utils/alerts.py
Due: black, poetry-check, mypy, pytest

build(precommit): add typo check
  .pre-commit-config.yaml
  .typos.toml
  README.md
  poetry.lock
  pyproject.toml
  scripts/pre-commit-hook.sh
  src/jdfile/cli.py
  src/jdfile/models/dates.py
Due: black, poetry-check, mypy, pytest

refactor: use inflect package for pluralization
  poetry.lock
  pyproject.toml
  src/jdfile/utils/questions.py
Due: black, poetry-check, mypy, pytest

refactor: use inflect package for pluralization (#59)
  poetry.lock
  pyproject.toml
  src/jdfile/utils/questions.py
Due: black, poetry-check, mypy, pytest

build(deps): update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/jdfile/utils/questions.py
Due: black, poetry-check, mypy, pytest

build: remove development container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-install.sh
  .github/workflows/devcontainer-checker.yml
  README.md
Due: none

ci: update github actions
  .github/actions/setup-poetry/action.yml
  .github/workflows/automated-tests.yml
  .github/workflows/create-release.yml
  .github/workflows/pypi-release.yml
Due: none

ci: add python 3.12 to testing matrix
  .github/workflows/automated-tests.yml
  pyproject.toml
Due: poetry-check, pytest

build: depreciate development container (#72)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-install.sh
  .github/actions/setup-poetry/action.yml
  .github/workflows/automated-tests.yml
  .github/workflows/create-release.yml
  .github/workflows/devcontainer-checker.yml
  .github/workflows/pypi-release.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/jdfile/utils/questions.py
Due: black, poetry-check, mypy, pytest

build: replace black with ruff format
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/jdfile/_config/config.py
  src/jdfile/models/dates.py
  src/jdfile/models/file.py
  src/jdfile/models/project.py
  src/jdfile/utils/nltk.py
  src/jdfile/utils/questions.py
Due: black, poetry-check, mypy, pytest

docs: fix typo
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/jdfile/__version__.py
  src/jdfile/_config/config.py
  src/jdfile/models/dates.py
  src/jdfile/models/file.py
  src/jdfile/models/project.py
  src/jdfile/utils/alerts.py
  src/jdfile/utils/console.py
  src/jdfile/utils/nltk.py
  src/jdfile/utils/strings.py
  src/jdfile/utils/utilities.py
  tests/alerts_test.py
  tests/dates_test.py
  tests/strings_test.py
  tests/utilities_test.py
Due: black, poetry-check, mypy, pytest

ci: update workflows
  .github/actions/setup-poetry/action.yml
  .github/labeler.yml
  .github/workflows/create-release.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/pypi-release.yml
  .github/workflows/update-codecov.yml
Due: none

ci: update workflows (#87)
  .github/actions/setup-poetry/action.yml
  .github/labeler.yml
  .github/workflows/create-release.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/pypi-release.yml
  .github/workflows/update-codecov.yml
Due: none

build(deps): bump dependencies
  .github/dependabot.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

build(deps): bump dependencies (#88)
  .github/dependabot.yml
  .github/workflows/create-release.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check, pytest

refactor: move version to constants
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/jdfile/__version__.py
  src/jdfile/_config/config.py
  src/jdfile/cli.py
  src/jdfile/constants.py
  src/jdfile/models/dates.py
  src/jdfile/models/file.py
  src/jdfile/models/project.py
  src/jdfile/utils/alerts.py
  src/jdfile/utils/strings.py
Due: black, poetry-check, mypy, pytest

refactor: move enums to constants.py
  pyproject.toml
  src/jdfile/_config/config.py
  src/jdfile/cli.py
  src/jdfile/constants.py
  src/jdfile/models/project.py
  src/jdfile/utils/enums.py
  src/jdfile/utils/strings.py
  tests/config_test.py
  tests/project_test.py
  tests/strings_test.py
Due: black, poetry-check, mypy, pytest

feat: support non-johnnydecimal project structures
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scripts/update_dependencies.py
  src/jdfile/cli/__init__.py
  src/jdfile/cli/helpers.py
  src/jdfile/constants.py
  src/jdfile/default_config.toml
  src/jdfile/jdfile.py
  src/jdfile/models/dates.py
  src/jdfile/models/file.py
  src/jdfile/models/project.py
  src/jdfile/utils/__init__.py
  src/jdfile/utils/common.py
  src/jdfile/utils/config.py
  src/jdfile/utils/console.py
  src/jdfile/views/tables.py
  tests/cli_test.py
  tests/conftest.py
  tests/date_test.py
  tests/file_model_test.py
  tests/fixtures/fixture_config.toml
  tests/integration_test.py
Due: black, poetry-check, mypy, pytest

docs: add project options to readme
  README.md
  src/jdfile/default_config.toml
Due: pytest

feat: add `--format-dates/--no-format-dates` flag
  README.md
  poetry.lock
  src/jdfile/default_config.toml
  src/jdfile/jdfile.py
  src/jdfile/models/file.py
  src/jdfile/utils/config.py
  tests/file_model_test.py
  tests/fixtures/fixture_config.toml
  tests/integration_test.py
Due: black, mypy, pytest

feat: add `--format-dates/--no-format-dates` option (#90)
  README.md
  poetry.lock
  src/jdfile/default_config.toml
  src/jdfile/jdfile.py
  src/jdfile/models/file.py
  src/jdfile/utils/config.py
  tests/file_model_test.py
  tests/fixtures/fixture_config.toml
  tests/integration_test.py
Due: black, mypy, pytest

docs: improve docstrings
  src/jdfile/cli/helpers.py
  src/jdfile/models/file.py
Due: black, mypy, pytest

refactor: migrate to uv
  .github/actions/setup-poetry/action.yml
  .github/actions/setup_python_env/action.yml
  .github/labeler.yml
  .github/workflows/automated-tests.yml
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/pypi-release.yml
  .github/workflows/test.yml
  .github/workflows/update-codecov.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  poetry.toml
  pyproject.toml
  src/jdfile/cli/helpers.py
  src/jdfile/jdfile.py
  src/jdfile/models/dates.py
  src/jdfile/models/file.py
  src/jdfile/models/project.py
  src/jdfile/utils/config.py
  src/jdfile/utils/logging.py
  src/jdfile/utils/questions.py
  src/jdfile/utils/strings.py
  src/jdfile/views/tables.py
  tests/conftest.py
  tests/file_model_test.py
  tests/fixtures/fixture_config_dotfiles.toml
  tests/integration_test.py
  tests/strings_test.py
  uv.lock
Due: black, poetry-check, mypy, pytest
