Repository natelandau/jdfile: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

.pre-commit-config.yaml:

# https://pre-commit.com
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: python-check-blanket-noqa
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        types: [python]
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        types: [python]
  - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.3.0
    hooks:
      - id: python-safety-dependencies-check
        files: pyproject.toml
  - repo: local
    hooks:
      - id: commitizen
        name: commitizen
        entry: cz check --commit-msg-file
        require_serial: true
        language: system
        stages: [commit-msg]
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --py310-plus
        require_serial: true
        language: system
        types: [python]
        exclude: cli\.py
      - id: absolufy-imports
        name: absolufy-imports
        entry: absolufy-imports
        require_serial: true
        language: system
        types: [python]
      - id: yesqa
        name: yesqa
        entry: yesqa
        require_serial: true
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        require_serial: true
        language: system
        types: [python]
      - id: shellcheck
        name: shellcheck
        entry: shellcheck --check-sourced
        language: system
        types: [shell]
      - id: bandit
        name: bandit
        entry: bandit --configfile pyproject.toml
        language: system
        types: [python]
      - id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: poetry-check
        name: poetry check
        entry: poetry check
        language: system
        files: pyproject.toml
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: mypy
        exclude: tests/
        language: system
        types: [python]
      - id: pytest
        name: pytest
        entry: poe test
        language: system
        pass_filenames: false
        types: [python]

fix: replace files
  .flake8
  src/filemanager/_utils/__init__.py
  src/filemanager/_utils/dates.py
  src/filemanager/_utils/files.py
  src/filemanager/_utils/strings.py
  src/filemanager/cli.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_files.py
  tests/test_strings.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix: don't overwrite files when names unchanged
  README.md
  src/filemanager/__init__.py
  src/filemanager/_utils/strings.py
  src/filemanager/cli.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_strings.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

bump(release): v0.0.0 → v0.0.1
  pyproject.toml
Due: poetry-check

docs: commit changelog
  CHANGELOG.md
Due: none

fix: default to clean filenames
  README.md
  src/filemanager/cli.py
  tests/test_cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

bump(release): v0.0.1 → v0.0.2
  CHANGELOG.md
  pyproject.toml
Due: poetry-check

feat: Organize files into johnny decimal folders
  .gitignore
  poetry.lock
  pyproject.toml
  src/filemanager/__init__.py
  src/filemanager/_utils/__init__.py
  src/filemanager/_utils/dates.py
  src/filemanager/_utils/files.py
  src/filemanager/_utils/johnnyDecimal.py
  src/filemanager/_utils/organize.py
  src/filemanager/_utils/strings.py
  src/filemanager/_utils/synonyms.py
  src/filemanager/_utils/utilities.py
  src/filemanager/cli.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_files.py
  tests/test_johnnyDecimal.py
  tests/test_strings.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

build(deps): bump dependencies
  poetry.lock
Due: none

feat(options): Add `--version` flag to print version number and then exit
  pyproject.toml
  src/filemanager/__version__.py
  src/filemanager/cli.py
  tests/test_cli.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

bump(release): v0.0.2 → v0.1.0
  CHANGELOG.md
  pyproject.toml
  src/filemanager/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

refactor: rename cabinets to projects
  src/filemanager/_utils/__init__.py
  src/filemanager/_utils/files.py
  src/filemanager/_utils/johnnyDecimal.py
  src/filemanager/_utils/organize.py
  src/filemanager/cli.py
  tests/test_johnnyDecimal.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

refactor(organize): refactor building project folder lists
  src/filemanager/_utils/__init__.py
  src/filemanager/_utils/files.py
  src/filemanager/_utils/johnnyDecimal.py
  src/filemanager/_utils/organize.py
  src/filemanager/cli.py
  tests/test_johnnyDecimal.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

docs(readme): Update usage instructions
  README.md
Due: none

bump(release): v0.1.0 → v0.1.1
  CHANGELOG.md
  pyproject.toml
  src/filemanager/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

fix: fix error when no ignored_files specified
  src/filemanager/cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix(config): remove non-standard config file locations
  src/filemanager/cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

feat(organize): print matching terms
  src/filemanager/_utils/files.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

feat(organize): confirm move if single folder found
  src/filemanager/_utils/files.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

bump(release): v0.1.1 → v0.2.0
  CHANGELOG.md
  pyproject.toml
  src/filemanager/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

build(deps): update dependencies
  poetry.lock
Due: none

fix: correctly filter ignored files
  src/filemanager/cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

feat(organize): add skip and abort to organize options
  src/filemanager/_utils/__init__.py
  src/filemanager/_utils/files.py
  src/filemanager/_utils/johnnyDecimal.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

feat(organize): file directly to a specified --number
  src/filemanager/_utils/files.py
  src/filemanager/cli.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix(organize): correctly escape variable name
  src/filemanager/_utils/files.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

bump(release): v0.2.0 → v0.3.0
  CHANGELOG.md
  pyproject.toml
  src/filemanager/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

build(poetry): migrate to poetry 1.2
  poetry.lock
  pyproject.toml
Due: poetry-check

build(poetry): dockerfile now uses poetry 1.2
  Dockerfile
Due: none

docs(readme): add status badge
  README.md
Due: none

docs(readme): add custom bash functions in tips section
  README.md
Due: none

fix(clean): ignore files named .filemanager
  src/filemanager/cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

feat: display output in tables, allow iterating over multiple files
  src/filemanager/_utils/__init__.py
  src/filemanager/_utils/alerts.py
  src/filemanager/_utils/files.py
  src/filemanager/_utils/output.py
  src/filemanager/_utils/synonyms.py
  src/filemanager/_utils/utilities.py
  src/filemanager/cli.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_utilities.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix: don't ask for user input when no changes
  src/filemanager/cli.py
  tests/test_cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

test: add regex for number of files
  tests/test_cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, pytest

refactor: remove unnessary functions
  src/filemanager/_utils/files.py
  src/filemanager/_utils/output.py
  src/filemanager/cli.py
  tests/test_cli.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

feat(clean): matching casing for specified words
  README.md
  src/filemanager/_utils/files.py
  src/filemanager/cli.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

docs(cli): update --help text with examples
  src/filemanager/cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix: don't show diff if no changes
  src/filemanager/_utils/output.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

feat: add --depth option
  src/filemanager/cli.py
Due: absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix(stopwords): remove 'org', 'points', 'sr', and 'project'
  src/filemanager/_utils/organize.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest
