Repository natelandau/jdfile: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

pyupgrade:
  name: pyupgrade
  entry: pyupgrade --py310-plus
  require_serial: true
  language: system

absolufy-imports:
  name: absolufy-imports
  entry: absolufy-imports
  require_serial: true
  language: system

yesqa:
  name: yesqa
  entry: yesqa
  require_serial: true
  language: system

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

black:
  name: black
  entry: black
  require_serial: true
  language: system

bandit:
  name: bandit
  entry: bandit --configfile pyproject.toml
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system

pytest:
  name: pytest
  entry: poe test
  language: system
  pass_filenames: false

ci: migrate from flake8 to ruff
  .github/workflows/python-code-checker.yml
Due: none

ci: remove flake8
  .github/workflows/python-code-checker.yml
Due: none

ci: add Python 3.11 to matrix
  .github/workflows/python-code-checker.yml
Due: none

build(linting): migrate from flake8 to ruff
  .devcontainer/devcontainer.json
  .flake8
  .github/workflows/python-code-checker.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/filemanager/_utils/__init__.py
  src/filemanager/_utils/dates.py
  src/filemanager/_utils/files.py
  src/filemanager/_utils/projectFolders.py
  src/filemanager/_utils/words.py
  src/filemanager/cli.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

build: mark UP007 as unfixable
  .devcontainer/devcontainer.json
  pyproject.toml
Due: poetry-check

ci(workflows): add auto-release github action
  .github/workflows/commit-linter.yml
  .github/workflows/create-release.yml
  .github/workflows/devcontainer-checker.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  .github/workflows/python-code-checker.yml
  .github/workflows/release-checker.yml
Due: none

build: update Ruff configuration
  .pre-commit-config.yaml
  pyproject.toml
  src/filemanager/_utils/__init__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

ci(workflows): add github action to publish to PyPi
  .github/workflows/pypi-publish.yml
Due: none

build(deps): bump dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

ci: update egress policy for pypi-publish workflow
  .github/workflows/pypi-publish.yml
  .pre-commit-config.yaml
Due: none

build(deps): upgrade dependencies
  poetry.lock
Due: none

build: update development environment
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .yamllint.yml
  poetry.toml
  pyproject.toml
  scripts/pre-commit-hook.sh
  src/filemanager/_utils/alerts.py
  src/filemanager/_utils/files.py
  src/filemanager/_utils/projectFolders.py
  src/filemanager/_utils/tables.py
  src/filemanager/_utils/utilities.py
  src/filemanager/cli.py
  tests/helpers.py
  tests/test_clean.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

ci: post install script passes failed install commands
  .devcontainer/post-install.sh
Due: none

ci: improve workflow run commands
  .github/workflows/automated-tests.yml
  .github/workflows/commit-linter.yml
  .github/workflows/devcontainer-checker.yml
  README.md
Due: none

build(deps): bump dependencies
  .pre-commit-config.yaml
  codevoc.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

refactor(package): renamge package from `filemanager` to `jdfile`
  .cruft.json
  .devcontainer/post-install.sh
  .github/workflows/release-checker.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  pyproject.toml
  src/filemanager/__init__.py
  src/filemanager/__version__.py
  src/jdfile/__init__.py
  src/jdfile/__version__.py
  src/jdfile/_utils/__init__.py
  src/jdfile/_utils/alerts.py
  src/jdfile/_utils/dates.py
  src/jdfile/_utils/files.py
  src/jdfile/_utils/projectFolders.py
  src/jdfile/_utils/tables.py
  src/jdfile/_utils/utilities.py
  src/jdfile/_utils/words.py
  src/jdfile/cli.py
  tests/conftest.py
  tests/test_alerts.py
  tests/test_clean.py
  tests/test_cli.py
  tests/test_dates.py
  tests/test_files.py
  tests/test_organize.py
  tests/test_utilities.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

refactor: refactor alerts
  src/jdfile/_utils/alerts.py
  tests/test_alerts.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

docs(README): install from pypi
  README.md
Due: none

bump(release): v0.4.7 → v1.0.0
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

ci: create release with changelog
  .github/workflows/create-release.yml
Due: none

docs(readme): update badges
  README.md
Due: none

fix(stopwords): keep stopwords when combined with numbers
  poetry.lock
  src/jdfile/utils/strings.py
  tests/strings_test.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix: improve error handling with invalid path to project
  src/jdfile/models/project.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

feat: add `--organize`, `--no-organize` to control filing into a project
  README.md
  src/jdfile/_config/config.py
  src/jdfile/cli.py
  src/jdfile/models/file.py
  tests/cli_test.py
  tests/file_test.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

bump(release): v1.0.0 → v1.1.0
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

refactor: improve handling of files without matching folders
  src/jdfile/cli.py
  src/jdfile/models/file.py
  src/jdfile/utils/alerts.py
  src/jdfile/utils/console.py
  src/jdfile/utils/questions.py
  src/jdfile/utils/utilities.py
  tests/conftest.py
  tests/file_test.py
  tests/project_test.py
  tests/utilities_test.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix: respect verbosity in file lists
  .pre-commit-config.yaml
  pyproject.toml
  src/jdfile/cli.py
  src/jdfile/models/file.py
  src/jdfile/utils/alerts.py
  src/jdfile/utils/utilities.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

bump(release): v1.1.0 → v1.1.1
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

fix: improve instructions in default configuration file
  poetry.lock
  src/jdfile/_config/default_config.toml
Due: none

fix: gracefully handle invalid date exceptions
  src/jdfile/models/dates.py
  src/jdfile/models/file.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix: filter files by regex
  .pre-commit-config.yaml
  README.md
  src/jdfile/_config/config.py
  src/jdfile/_config/default_config.toml
  src/jdfile/cli.py
  src/jdfile/utils/utilities.py
  tests/config_test.py
  tests/utilities_test.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

fix: log messages no longer bold
  src/jdfile/utils/alerts.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

bump(release): v1.1.1 → v1.1.2
  CHANGELOG.md
  pyproject.toml
  src/jdfile/__version__.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

style: pass more linters
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/jdfile/_config/config.py
  src/jdfile/cli.py
  src/jdfile/utils/strings.py
  src/jdfile/utils/utilities.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

build: add script to update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scripts/update_dependencies.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

fix: usage alerts use console width
  src/jdfile/utils/alerts.py
  tests/alerts_test.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, mypy, pytest

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  scripts/update_dependencies.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

fix: improve edge case management when inserting strings
  .gitignore
  poetry.lock
  pyproject.toml
  src/jdfile/utils/enums.py
  src/jdfile/utils/strings.py
  tests/strings_test.py
Due: pyupgrade, absolufy-imports, yesqa, isort, black, bandit, pydocstyle, flake8, poetry-check, mypy, pytest

Path conditions:
  pyupgrade: any of: \.py$, but not: cli\.py
  absolufy-imports: any of: \.py$
  yesqa: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  bandit: any of: \.py$
  pydocstyle: any of: \.py$
  flake8: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: \.py$, but not: tests/
  pytest: any of: \.py$
